body{
    background-color:powderblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    display: inline-block; 
    width: 200px;
}

.li{
    width: 200px;
    height: 200px;
    text-decoration: none;
    border-radius: 70%;
    color: white;
    background-color: blue;
}
#c1{
    text-align: center;
}
#content1{
    background-color: white;
    border-color: white;
    border-radius: 5px;
    margin:auto;
    margin-top: 100px;
    padding: 10px;
    width: 50%;
    
}
.but{
    
    margin: 0px 85px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #e7e5e5;
    border-color:transparent;
    color: gray;
}
#but1, #but2, #but3, #but4, #but5{
    margin: 0px 85px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: rgba(0, 102, 255, 0.871);
    color: white;
}
#t1, #t2, #t3, #t4, #t5{
    color: rgba(0, 102, 255, 0.871);
}
.pt{
    margin-top:5px;
    
}

#file{
    margin-top:5px;
    border-style: dotted;
    padding: 20px 20px;
    border-radius: 5px;
    border-color: gray;
    
}
#b1{
    margin-top: 5px;
    padding: 2px 8px;
    border-radius: 5px;
    border-color: transparent;
    float:right;
    color:white;
    background-color: rgba(0, 123, 255, 0.863);
}
#b2{
    margin: 5px;
    padding: 2px 8px;
    border-radius: 5px;
    border-color: transparent;
    float:right;
    color: black;
    background-color:darkgray;
}
textarea{
    
    width: 100%;
}
#d1, #d2{
    float:left;
    width: 25%;
    margin-right:auto;
}

#d3{
    float:left;
    width: fit-content;
}

#padd{
    float: none;
}
.ta{
    height: 70px;
    width: 100%;
}